In [153]:
import sqlite3 
import numpy as np
import pandas as pd
from datetime import datetime
from matplotlib import pyplot as plt

In [154]:
SYM_List = []
conn = sqlite3.connect('C:\\Users\\nvdun\\OneDrive\\Desktop\\Beta_database.db')
cursor = conn.cursor()

In [155]:
Ticker = 'hpg'
query = f'SELECT * FROM {Ticker}'
DF_ = pd.read_sql(query,conn)

In [161]:
DF_['Date'] = pd.to_datetime(DF_['Date'], format='%d/%m/%Y')
DF_ = DF_[:2000]
Interval = 2
Index = list(range(0,1999,Interval))
DF_ = DF_.loc[Index]

In [162]:
DF_['Adjusted_CLS'] = DF_.apply(lambda row: row['Cls'] if row['Adj_Cls'] == 0 else row['Adj_Cls'],axis=1)

In [163]:
DF_cal = DF_[['Date','Adjusted_CLS']]

In [164]:
DF_cal.sort_values(by='Date',inplace=True,ascending=True,ignore_index=True)
DF_cal['Diff'] = DF_cal['Adjusted_CLS'].diff()
DF_cal.loc[0,'Diff'] = 0
DF_cal['Return']=DF_cal['Diff']/DF_cal['Adjusted_CLS']

C:\Users\nvdun\AppData\Local\Temp\ipykernel_2900\3781326335.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF_cal.sort_values(by='Date',inplace=True,ascending=True,ignore_index=True)
C:\Users\nvdun\AppData\Local\Temp\ipykernel_2900\3781326335.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF_cal['Diff'] = DF_cal['Adjusted_CLS'].diff()
C:\Users\nvdun\AppData\Local\Temp\ipykernel_2900\3781326335.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF_cal['Return']=DF_cal['Diff']/DF_cal['Adjusted_CLS']

In [165]:
DF_cal['Cuml'] = DF_cal['Adjusted_CLS']/DF_cal.loc[0,'Adjusted_CLS'] 
DF_cal['Highest'] = DF_cal['Cuml'].cummax()
DF_cal['DrawDown'] = (DF_cal['Cuml']-DF_cal['Highest'])/DF_cal['Highest']

C:\Users\nvdun\AppData\Local\Temp\ipykernel_2900\1155634712.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF_cal['Cuml'] = DF_cal['Adjusted_CLS']/DF_cal.loc[0,'Adjusted_CLS']
C:\Users\nvdun\AppData\Local\Temp\ipykernel_2900\1155634712.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF_cal['Highest'] = DF_cal['Cuml'].cummax()
C:\Users\nvdun\AppData\Local\Temp\ipykernel_2900\1155634712.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF_cal['DrawDown'] = (DF_cal['Cuml']-DF_cal['Highest'])/DF_cal['Highest']

In [166]:
DF_cal

          Date  Adjusted_CLS  Diff    Return      Cuml    Highest  DrawDown
0   2016-01-12          3.68  0.00  0.000000  1.000000   1.000000  0.000000
1   2016-01-14          3.49 -0.19 -0.054441  0.948370   1.000000 -0.051630
2   2016-01-18          3.26 -0.23 -0.070552  0.885870   1.000000 -0.114130
3   2016-01-20          3.32  0.06  0.018072  0.902174   1.000000 -0.097826
4   2016-01-22          3.37  0.05  0.014837  0.915761   1.000000 -0.084239
..         ...           ...   ...       ...       ...        ...       ...
995 2023-12-28         27.95  0.15  0.005367  7.595109  11.907609 -0.362163
996 2024-01-02         27.45 -0.50 -0.018215  7.459239  11.907609 -0.373574
997 2024-01-04         27.75  0.30  0.010811  7.540761  11.907609 -0.366728
998 2024-01-08         27.85  0.10  0.003591  7.567935  11.907609 -0.364445
999 2024-01-10         27.35 -0.50 -0.018282  7.432065  11.907609 -0.375856

[1000 rows x 7 columns]

In [167]:
DF_cal['Rank'] = DF_cal['Return'].rank(ascending=False)
DF_cal

C:\Users\nvdun\AppData\Local\Temp\ipykernel_2900\1251570820.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF_cal['Rank'] = DF_cal['Return'].rank(ascending=False)

,Date,Adjusted_CLS,Diff,Return,Cuml,Highest,DrawDown,Rank
0,2016-01-12,3.68,0.00,0.000000,1.000000,1.000000,0.000000,526.0
1,2016-01-14,3.49,-0.19,-0.054441,0.948370,1.000000,-0.051630,963.0
2,2016-01-18,3.26,-0.23,-0.070552,0.885870,1.000000,-0.114130,977.0
3,2016-01-20,3.32,0.06,0.018072,0.902174,1.000000,-0.097826,256.0
4,2016-01-22,3.37,0.05,0.014837,0.915761,1.000000,-0.084239,296.0
...,...,...,...,...,...,...,...,...
995,2023-12-28,27.95,0.15,0.005367,7.595109,11.907609,-0.362163,435.0
996,2024-01-02,27.45,-0.50,-0.018215,7.459239,11.907609,-0.373574,789.0
997,2024-01-04,27.75,0.30,0.010811,7.540761,11.907609,-0.366728,353.0
998,2024-01-08,27.85,0.10,0.003591,7.567935,11.907609,-0.364445,476.0
999,2024-01-10,27.35,-0.50,-0.018282,7.432065,11.907609,-0.375856,790.0

In [168]:
DF_VaR = DF_cal[['Date','Return','Rank']].sort_values(by='Rank',ignore_index=True,ascending=True)
DF_VaR

          Date    Return    Rank
0   2022-11-28  0.122324     1.0
1   2022-11-18  0.115894     2.0
2   2022-11-30  0.111413     3.0
3   2021-06-01  0.111190     4.0
4   2022-10-13  0.102564     5.0
..         ...       ...     ...
995 2022-10-31 -0.111821   996.0
996 2022-11-08 -0.114068   997.0
997 2022-06-21 -0.115385   998.0
998 2021-01-28 -0.128476   999.0
999 2020-03-13 -0.136101  1000.0

[1000 rows x 3 columns]

In [170]:
DF_SHAPE = DF_VaR.shape[0]

In [171]:
VaR_pct = [1,0.99,0.95,0.90,0.1,0.05,0.01]
VaR_idx = list(map(lambda x: int(x*DF_SHAPE-1), VaR_pct))
VaR_idx.append(0)
DF_VaR.loc[VaR_idx,:]

          Date    Return    Rank
999 2020-03-13 -0.136101  1000.0
989 2022-10-07 -0.090909   990.0
949 2022-11-04 -0.047782   950.0
899 2023-12-14 -0.033272   900.0
99  2020-12-08  0.037904   100.0
49  2016-07-18  0.050269    49.5
9   2023-11-02  0.089109    10.0
0   2022-11-28  0.122324     1.0